VITE_APP_BASE_PATH=/mlflow
VITE_APP_API_URL=http://localhost:8000
VITE_APP_API_FILES=api/files/
VITE_APP_API_CITATIONS=api/citations/
VITE_APP_API_CHAT=api/chat/
VITE_APP_API_CHAT_UPLOAD=api/upload/
VITE_APP_API_SMILES_GENERATION=/api/smiles-generation/generate/
VITE_APP_API_SMILES_STATUS=/api/smiles-generation/status/
VITE_APP_API_DISPLAY_CORRELATION=/api/display_correlation/
VITE_APP_API_DISPLAY_HEATMAP=/api/display_correlation_heatmap/
VITE_APP_API_DISPLAY_GROUP=/api/display_group/
VITE_APP_API_EDA_BARPLOT=/api/eda/barplot/
VITE_APP_API_EDA_BOXPLOT=/api/eda/boxplot/
VITE_APP_API_EDA_COUNTPLOT=/api/eda/countplot/
VITE_APP_API_EDA_CUSTOMPLOT=/api/eda/customplot/
VITE_APP_API_EDA_HISTOGRAM=/api/eda/histogram/
VITE_APP_API_EDA_LINEPLOT=/api/eda/lineplot/
VITE_APP_API_EDA_PIEPLOT=/api/eda/pieplot/
VITE_APP_API_EDA_REGPLOT=/api/eda/regplot/
VITE_APP_API_EDA_SCATTERPLOT=/api/eda/scatterplot/
VITE_APP_API_EDA_VIOLINPLOT=/api/eda/violinplot/
VITE_APP_API_EDA_VENNDIAGRAM=/api/eda/venn-diagram/
VITE_APP_API_FEATURE_CREATION=/api/feature_creation/
VITE_APP_API_ALTER_FIELD_NAME=/api/alter_field_name/
VITE_APP_API_APPEND=/api/append/
VITE_APP_API_CHANGE_DTYPE=/api/change_dtype/
VITE_APP_API_CLUSTER=/api/cluster/
VITE_APP_API_DROP_COLUMN=/api/drop_column/
VITE_APP_API_DROP_ROWS=/api/drop_rows/
VITE_APP_API_ENCODING=/api/encoding/
VITE_APP_API_FEATURE_SELECTION=/api/feature_selection/
VITE_APP_API_PFS=/api/pfs/
VITE_APP_API_IMPUTATION_DATA1=/api/imputation_data1/
VITE_APP_API_IMPUTATION_RESULT=/api/imputation_result/
VITE_APP_API_IMPUTATION_DATA2=/api/imputation_data2/
VITE_APP_API_OPTIMIZE=/api/optimize/
VITE_APP_API_MERGE_DATASET=/api/merge_dataset/
VITE_APP_API_SCALING=/api/scaling/
VITE_APP_API_DATASET=/api/dataset/
VITE_APP_API_BUILD_MODEL=/api/build_model/
VITE_APP_API_HYPERPARAMETER_OPTIMIZATION=/api/hyperparameter_optimization/
VITE_APP_API_MODEL_EVALUATION=/api/model_evaluation/
VITE_APP_API_MODEL_PREDICTION=/api/model_prediction/
VITE_APP_API_SPLIT_DATASET=/api/split_dataset/
VITE_APP_API_DEPLOY_DATA=/api/deploy_data/
VITE_APP_API_DEPLOY_RESULT=/api/deploy_result/
VITE_APP_API_DEPLOY_BATCH=/api/deploy_batch/
VITE_APP_API_DEPLOY_BATCH_STATUS=/api/deploy_batch_status/
VITE_APP_API_DEPLOY_BATCH_CANCEL=/api/deploy_batch_cancel/
VITE_APP_API_REVERSEML=/api/reverseml/
VITE_APP_API_TIME_SERIES=/api/time_series/
VITE_APP_API_TIME_SERIES_ANALYSIS=/api/time_series_analysis/
VITE_APP_API_DATASET_DELETE=/api/delete/
VITE_APP_API_DATASET_CREATE_FOLDER=/api/create-folder/
VITE_APP_API_DATASET_CREATE_FILE=/api/create-file/
VITE_APP_API_DATASET_READ_FILE=/api/read_file/
VITE_APP_API_UPLOAD=/api/upload/
VITE_APP_API_FETCH_FILE=/api/fetch_file/
VITE_APP_API_GRAPH=http://127.0.0.1:8000/api/graph_analysis
VITE_APP_CHART_ENGINE=echarts